/* CSS files add styling rules to the content */

@import url(https://fonts.googleapis.com/css?family=Lexend+Deca);
body {
    position: relative;
    /* new */
    font-family: "Lexend Deca", sans-serif;
    /* "Helvetica Neue", helvetica, arial, */
    /* margin: 2em; */
    /*padding: 20px;*/
    margin: 0;
    overflow: hidden;
    /*"hidden" means overflow is clipped, and the rest of the content will be invisible*/
}

.scannerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 9999;
}

.scannerImage {
    /* background-image: url(https://mariamraad.github.io/ar-portfolio/assets/images/scanner/Scanner_mitHintergrund.png);
    background-size: contain;
    background-repeat: no-repeat;*/
    width: 100%;
    height: 100%;
    /* width: 25%; */
}


/*
.scannerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 9999;
}

.scannerImage {
    /* background-image: url(https://mariamraad.github.io/ar-portfolio/assets/images/scanner/Scanner_mitHintergrund.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 300%;
    /* width: 25%; 
}
.scannerWrapper {
    position: fixed;
    top: 0;
    left: 37.5%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 9999;
}

.scannerImage {
    background-image: url(https://mariamraad.github.io/ar-portfolio/assets/images/scanner/Scanner_mitHintergrund.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
    /* width: 25%; 


}*/

/*
.scannerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 3px solid #333;
}

.scannerImage {
    width: 25%;
    max-height: 25%;
    border: 3px solid rgb(147, 45, 45);
    z-index: 9999;
    /*z-index makes the image stick to the left and lets the image appear way bigger. consquences: when opening the app in a mobile browser the image redefines itself all the time and also the app reloads and crashes eventually*/

/*}*/
