/* CSS files add styling rules to the content */

@import url(https://fonts.googleapis.com/css?family=Lexend+Deca)
  
html, body{
  margin: 0;
  min-height: 100%;
}

body {
  /* general styles */
   position: absolute; /* new */
  font-family: "Lexend Deca", sans-serif; /* "Helvetica Neue", helvetica, arial, */
  /* margin: 2em; */
  padding: 20px;
  margin: 0px; 
  overflow: hidden;
}


.overlay{
  position: absolute; /* needed for the overlay to extend when you scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  text-align: center;
}

/* scanner image */
.modal {
    image: url(https://mariamraad.github.io/ar-portfolio/assets/images/scanner/Scanner_ohneRahmen_klein.png);
    position: absolute;
    width: 150px;
    height: 300px;
    line-height: 200px;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

/*
#overlay {
  position: fixed; /* Sit on top of the page content 
  display: none; /* Hidden by default 
  width: 100%; /* Full width (cover the whole page) 
  height: 100%; /* Full height (cover the whole page) 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity 
  z-index: 9999; /* Specify a stack order in case you're using a different order for other elements 
}
*/

/*
div.bg {
  background-image: url(https://mariamraad.github.io/ar-portfolio/assets/images/scanner/Scanner_ohneRahmen_klein.png);
  background-color: black; /* Used if the image is unavailable 
  background-position: center; /* Center the image 
  background-repeat: no-repeat; /* Do not repeat the image 
  background-size: cover; /* Resize the background image to cover the entire container 
  width: 100%; 
  height: 100%;
  padding: 20px;
  z-index: 9999;
}
*/
